body {
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 4.5rem;
}

h2 {
    margin: 30px;
}

a {
    color: white;
}

.container {
    background-image: url(../images/clouds.jpg);
    background-size: cover;
    margin: 50px auto;
    width: 60%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.box-weather {
background-color: rgba(140, 144, 151, 0.2);
border-radius: 20px;
margin: 20px 50px;
padding-bottom: 20px;
padding-top: 20px;
}

.buttonLocation, .search {
    margin: 0 5px;
    border-radius: 10px;
    padding: 5px 10px;
}

.city-input {
    margin-right: 5px;
    border-radius: 10px;
    padding: 5px 20px;
}

.temp {
    font-size: 40px;
}

.weatherDescriptionStyle {
    text-transform: capitalize;
}

.icon {
    width: 30px;
}

.active {
text-decoration: none;
font-size: x-large;
}

.active:hover {
    cursor: default;
    text-decoration: none;
    color: white;

}